@media screen and (max-width: 1023px) {
  .container .col-md-3 {
    padding: 0 !important;
  }

  .container .col-md-9 {
    padding-right: 0 !important;
  }

  .row.SubMenuBar {
    display: none;
  }

  #accordionMenu {
    text-align: center;
  }

  #accordionMenu .panel {
    margin-top: 0;
    background-color: initial;
  }

  #accordionMenu .panel:last-of-type {
    display: none;
  }

  #accordionMenu .panel-default {
    border: 0;
  }

  #accordionMenu .panel-heading {
    padding: 0;
    border-bottom: solid 1px whitesmoke;
    background-color: rgba(128, 0, 0, 0.5) !important;
  }

  #accordionMenu .panel-heading a {
    color: whitesmoke;
    font-size: large;
    padding: 10px;
    display: block;
    width: 100%;
  }

  #accordionMenu .panel-body {
    padding: 0 0 15px 0;
    border-top: 0;
    border-bottom: solid 1px whitesmoke;
    background-color: rgba(0, 0, 0, 0.3);
  }

  #accordionMenu .panel-body a {
    padding: 10px 0;
    color: whitesmoke;
    font-family: Actor, sans-serif;
    font-size: large;
    font-variant: small-caps;
    border-bottom: dashed 1px gray;
    text-align: left;
    padding-left: 20px;
  }

  #accordionMenu .panel-body a:hover {
    background-color: initial;
    border-color: #f4bf31;
    text-shadow: 0 0;
  }

  #accordionMenu .panel-body a:focus {
    background-color: initial;
    border-bottom: dashed 1px whitesmoke;
  }
}
