@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,600');
@font-face {
  font-family: 'Astonished';
  src: url('../fonts/astonished/astonished-webfont.woff2') format('woff2'), url('../fonts/astonished/astonished-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}
ul {
  list-style-type: none;
}
a {
  color: whitesmoke;
}
a:hover {
  color: gray;
  text-decoration: none;
}
a:active,
a:focus {
  color: #F4BF31;
  text-decoration: none;
}
body {
  background-image: url('../img/asphalt.png');
}
* + .tooltip > .tooltip-inner {
  background-color: #121212;
  color: #F4BF31;
  border: 2px solid #F4BF31;
  padding: 12px;
  font-size: 18px;
  font-family: Oswald, sans-serif;
}
/* Tooltip on top */
* + .tooltip.top > .tooltip-arrow {
  border-top: 5px solid #F4BF31;
}
/* Tooltip on bottom */
* + .tooltip.bottom > .tooltip-arrow {
  border-bottom: 5px solid #F4BF31;
}
/* Tooltip on left */
* + .tooltip.left > .tooltip-arrow {
  border-left: 5px solid #F4BF31;
}
/* Tooltip on right */
* + .tooltip.right > .tooltip-arrow {
  border-right: 5px solid #F4BF31;
}
.close {
  display: none;
}
.more {
  width: 100%;
  color: #0C0C0C;
  background-color: #F4BF31;
  margin-top: 20px;
  display: block;
  text-align: center;
}
.private-btn {
  color: #BA2525;
}
.content,
#ad img {
  box-shadow: 0 0 30px black;
}
.content {
  font: 300 20px Oswald, sans-serif;
}
.content figure {
  margin-top: 20px;
}
.content figure img {
  display: block;
  margin: auto;
}
.content figure figcaption {
  text-align: center;
}
.release {
  background-color: #181818;
  margin-top: 15px;
  padding: 10px 0;
  transition: transform .5s ease;
}
.release img {
  width: 70px;
  height: 70px;
}
.release:hover {
  cursor: pointer;
  color: whitesmoke;
  transform: scale(1.1);
}
.release h3 {
  font-size: 17px;
  margin: 0;
}
.release div:first-of-type {
  font-size: 16px;
}
.release div:last-of-type {
  font-size: 14px;
}
.event {
  text-align: center;
}
.event h3 {
  font-size: 20px;
}
.event div:first-of-type {
  font-size: 18px;
}
.event div:last-of-type {
  font-size: 18px;
}
#topbar {
  color: whitesmoke;
  background-color: #0C0C0C;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
#topbar a:hover {
  color: #F4BF31;
}
#topbar #language-switcher,
#topbar #search-toggle {
  width: 80px;
  height: 80px;
  font: 600 27px Oswald, sans-serif;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
}
#topbar #language-switcher:hover,
#topbar #search-toggle:hover {
  cursor: pointer;
  color: #F4BF31;
}
#topbar #languages {
  display: none;
  font: 600 27px Oswald, sans-serif;
  position: absolute;
  z-index: 100;
  top: 80px;
  left: 0;
}
#topbar #languages div {
  width: 80px;
  height: 80px;
  line-height: 80px;
  vertical-align: middle;
  background-color: #121212;
}
#topbar #languages div:hover {
  color: #121212;
  background-color: #F4BF31;
  cursor: pointer;
}
#topbar #search-box {
  height: 300px;
  width: 600px;
  color: #121212;
  background-color: whitesmoke;
  position: absolute;
  z-index: 100;
  top: 80px;
  right: 0;
}
#topbar nav ul {
  font: 40px Astonished, sans-serif;
  width: 554px;
  margin: 0;
  display: flex;
  justify-content: center;
}
#topbar nav ul li {
  height: 80px;
  line-height: 80px;
  vertical-align: middle;
  padding: 0 30px;
  border-bottom: solid 5px whitesmoke;
}
#topbar nav ul li:hover {
  border-bottom-color: #F4BF31;
  cursor: pointer;
}
#topbar nav ul li:hover a {
  color: #F4BF31;
}
#banner {
  width: 100%;
  height: 215px;
  background: black url('../img/smoke.jpg') no-repeat left top;
  box-shadow: 0 0 100px black inset;
  border-bottom: solid 15px black;
  border-image: url('../../img/warning.png') 20 0 repeat;
  display: flex;
  justify-content: space-between;
}
#banner figure {
  margin-left: 200px;
  transition: transform 1s ease;
}
#banner figure:hover {
  cursor: pointer;
  transform: rotate(360deg);
}
#banner #login {
  width: 340px;
  height: 160px;
  padding: 20px;
  margin: 20px 80px 0 0;
  color: whitesmoke;
  background-color: #121212;
  border: solid 2px black;
  display: flex;
  justify-content: space-between;
  font-family: Oswald, sans-serif;
}
#banner #login #pseudo {
  font-weight: 400;
  font-size: 22px;
}
#banner #login #circle {
  font-weight: 300;
  font-size: 15px;
}
#banner #login #dashboard,
#banner #login #messages {
  font-weight: 300;
  font-size: 18px;
}
#banner #login #dashboard a,
#banner #login #messages a {
  color: gray;
}
#banner #login #dashboard {
  margin-top: 15px;
}
#banner #login #logout {
  cursor: pointer;
}
main {
  background-color: rgba(0, 0, 0, 0.3);
}
main .content {
  color: whitesmoke;
  background-color: #121212;
  font: 300 22px Oswald, sans-serif;
  padding: 70px 10px 20px 10px;
}
main .content h3 {
  color: #F4BF31;
}
main .content h3 a {
  color: #F4BF31;
}
main .content .author {
  color: gray;
  font-size: 16px;
}
main .content .author:before {
  content: '@';
}
main .large-box h2,
main .small-box h2 {
  color: gray;
  background-color: #0C0C0C;
  font: 42px Astonished, sans-serif;
  text-align: center;
  margin: 0;
  position: relative;
  top: 70px;
  left: -20px;
}
main .large-box h2::before,
main .small-box h2::before,
main .large-box h2::after,
main .small-box h2::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  bottom: -40px;
  z-index: -10;
  border: 20px solid;
  border-color: black transparent transparent transparent;
}
main .large-box h2::before,
main .small-box h2::before {
  left: 0;
}
main .large-box h2::after,
main .small-box h2::after {
  right: 0;
}
main .large-box {
  width: 590px;
}
main .large-box h2 {
  width: 630px;
}
main .small-box {
  width: 300px;
}
main .small-box h2 {
  width: 340px;
}
#news {
  text-align: center;
}
#news a {
  display: block;
}
#news a:hover {
  color: gray;
}
#reviews-wrapper {
  background: black url('../img/reviews.jpg') no-repeat 0 -200px;
  margin-top: 50px;
  box-shadow: 0 0 100px black;
}
#reviews h2,
#reviews h3 {
  text-align: center;
  margin: 0;
}
#reviews h2 {
  color: #121212;
  font: 150px Astonished, sans-serif;
  margin-top: 200px;
}
#reviews h3 {
  color: gray;
  font-family: Astonished, sans-serif;
  font-size: 35px;
  padding-top: 10px;
}
#reviews h4 {
  color: #F4BF31;
  margin: 0;
}
#reviews figure {
  width: 250px;
  margin: auto;
}
#reviews .content {
  padding: 0;
  box-shadow: 0 0;
}
#reviews .content img {
  margin: 0 10px;
}
#reviews .release {
  display: flex;
}
#reviews figure:hover figcaption {
  background-color: #0C0C0C;
}
#reviews figure figcaption {
  width: 250px;
  padding: 15px;
  margin: auto;
  background-color: #181818;
}
#reviews figure figcaption h3 {
  margin: 0;
}
#articles {
  padding: 50px 0;
  border-top: solid 5px whitesmoke;
  background: black url('../img/interviews.jpg') no-repeat 0 0;
}
#interviews figcaption {
  width: 100%;
  height: 42px;
  margin: auto;
}
#interviews a {
  font-size: 18px;
}
#events {
  padding: 100px;
  border-top: solid 5px whitesmoke;
  background: black url('../img/gigs.jpg') no-repeat 0 -100px;
}
#events #gigs,
#events #live-reports,
#events #photo-galleries {
  margin: 0 auto;
  max-width: 500px;
  box-shadow: 0 0 30px black;
}
#events h2 {
  color: #121212;
  background-color: #F4BF31;
  text-align: center;
  position: static;
  font: 42px Astonished, sans-serif;
  margin: 0;
}
#events .content {
  box-shadow: 0 0;
  padding-top: 5px;
}
#events .content h3 {
  margin-bottom: 0;
}
#events .content h3 a {
  color: gray;
}
#events .content h3 a:hover {
  color: #F4BF31;
}
#events .content .more {
  color: #F4BF31;
  background-color: initial;
  text-align: right;
  font-size: 18px;
  margin-top: 0;
  padding-right: 10px;
}
#events .content .more:after {
  content: ' > ';
}
#events .content .more:hover {
  color: gray;
}
#ad {
  margin-top: 50px;
}
#newsletter form {
  display: flex;
  margin-top: 20px;
}
#newsletter input[type="text"] {
  width: 300px;
  height: 50px;
  background-color: whitesmoke;
  text-align: center;
}
#newsletter input[type="submit"] {
  color: #0C0C0C;
  background-color: #F4BF31;
  width: 50px;
  height: 50px;
  font: 400 22px Oswald, sans-serif;
}
#newsletter ul {
  margin-top: 10px;
}
#newsletter ul a {
  color: gray;
  font: 300 20px Oswald, sans-serif;
}
footer {
  border-top: solid 15px black;
  border-image: url('../../img/warning.png') 20 0 repeat;
  color: whitesmoke;
  background-color: #121212;
  padding: 10px 20px;
}
footer #brand h1 {
  font: 600 30px Oswald, sans-serif;
  margin: 10px 5px 10px 0;
  display: inline-block;
}
footer #brand h1 span {
  color: #F4BF31;
}
footer #years {
  font: 600 27px Oswald, sans-serif;
}
footer #social a {
  margin-left: 10px;
  display: inline-block;
  text-align: right;
}
footer #social a img {
  width: 64px;
  height: 64px;
}
@media screen and (max-width: 1200px) {
  #reviews h2 {
    margin: 50px 0;
  }
}
@media screen and (max-width: 992px) {
  footer #brand,
  footer #social {
    text-align: center;
  }
  footer #social {
    padding-bottom: 20px;
  }
}
