#encyclopedia + footer {
  margin-top: 0;
}
#encyclopedia .content {
  padding-top: 0;
}
#encyclopedia .owl-carousel .owl-item img {
  margin-top: 20px;
}
#encyclopedia #band-news .content {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
#encyclopedia .owl-carousel {
  width: initial;
}
#home {
  /*background: url('../../img/backgrounds/metal-pattern.jpg') no-repeat 0 0;*/
}
#home ul.categories li a {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 20px 0;
  border: solid 1px whitesmoke;
  font-family: Oswald, sans-serif;
  font-size: x-large;
  color: whitesmoke;
  background-color: #121212;
  text-transform: uppercase;
  transition: transform .3s ease;
  transform: skew(-10deg);
}
#home ul.categories li a span.stats-figure {
  color: gray;
}
#home ul.categories li a span.stats-figure::before {
  content: "(";
}
#home ul.categories li a span.stats-figure::after {
  content: ")";
}
#home ul.categories li a:hover {
  cursor: pointer;
  color: #F4BF31;
  border-color: #F4BF31;
}
#home ul.categories li a:hover span.stats-figure {
  color: silver;
}
#home ul.latest li {
  background-color: whitesmoke;
}
#home #stats {
  color: whitesmoke;
  margin-top: 50px;
  padding: 50px 20px;
  text-align: center;
  font-family: Oswald, sans-serif;
  background: url('../../img/backgrounds/equalizer.png') no-repeat 0 -220px;
}
#home #stats h2 {
  display: inline;
  border-top: solid 2px whitesmoke;
  border-bottom: solid 2px whitesmoke;
}
#home #stats .circliful {
  max-width: 350px;
  margin-top: 20px;
  margin-bottom: 28px;
}
#home #stats .legend-line div {
  background-color: #121212;
  max-width: 350px;
  padding: 15px;
  margin: auto;
  border-top: solid 1px whitesmoke;
  text-transform: uppercase;
}
#band h3.ribbon,
#band h3.half-ribbon {
  margin-top: 20px;
}
#band h3.ribbon {
  left: -40px;
}
#band .content .logo {
  display: block;
  margin: auto;
  padding: 20px 0;
}
#band #profile > div {
  display: flex;
  justify-content: space-between;
  margin-left: 5px;
  padding: 5px;
}
#band #profile > div span:first-of-type {
  color: gray;
}
#band #profile > div:nth-child(odd) {
  background-color: #0C0C0C;
}
#band #profile > div:nth-child(even) {
  background-color: #181818;
}
#band #line-up h3,
#band #former-members h3 {
  color: gray;
  background-color: #0C0C0C;
  width: 300px;
  position: relative;
  font: 42px Astonished, sans-serif;
}
#band #line-up h3::before,
#band #former-members h3::before,
#band #line-up h3::after,
#band #former-members h3::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  bottom: -40px;
  z-index: -10;
  border: 20px solid;
  border-color: black transparent transparent transparent;
}
#band #line-up h3::before,
#band #former-members h3::before {
  left: 0;
}
#band #line-up h3::after,
#band #former-members h3::after {
  right: 0;
}
#band #line-up li,
#band #former-members li {
  background-color: #181818;
  padding: 7px;
  margin: 10px 0;
  transition: transform .5s ease;
}
#band #line-up li:hover,
#band #former-members li:hover {
  cursor: pointer;
  transform: scale(1.1);
}
#band #line-up li p,
#band #former-members li p {
  margin: 0;
}
#band #line-up li a:hover,
#band #former-members li a:hover {
  color: whitesmoke;
}
#band #line-up h3 {
  left: -40px;
  padding-left: 30px;
}
#band #line-up li p:first-child {
  color: #F4BF31;
}
#band #former-members h3 {
  text-align: right;
  padding-right: 30px;
}
#band #former-members li p:first-child {
  color: gray;
}
#band #discography h4 {
  color: #F4BF31;
  font-size: 18px;
}
#band #discography .grade {
  line-height: 70px;
}
#band #discography .indicators {
  color: gray;
  text-align: center;
}
#band #videos .owl-carousel {
  margin-top: 10px;
}
#band-galleries img {
  width: 100%;
}
#band-galleries figcaption {
  text-align: center;
}
