#encyclopedia + footer {
  margin-top: 0;
}
#encyclopedia .content {
  padding-top: 0;
}
#encyclopedia .owl-carousel .owl-item img {
  margin-top: 20px;
}
#encyclopedia #band-news .content {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
#encyclopedia .owl-carousel {
  width: initial;
}
#home {
  /*background: url('../../img/backgrounds/metal-pattern.jpg') no-repeat 0 0;*/
}
#home ul.categories li a {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 20px 0;
  border: solid 1px whitesmoke;
  font-family: Oswald, sans-serif;
  font-size: x-large;
  color: whitesmoke;
  background-color: #121212;
  text-transform: uppercase;
  transition: transform .3s ease;
  transform: skew(-10deg);
}
#home ul.categories li a span.stats-figure {
  color: gray;
}
#home ul.categories li a span.stats-figure::before {
  content: "(";
}
#home ul.categories li a span.stats-figure::after {
  content: ")";
}
#home ul.categories li a:hover {
  cursor: pointer;
  color: #F4BF31;
  border-color: #F4BF31;
}
#home ul.categories li a:hover span.stats-figure {
  color: silver;
}
#home ul.latest li {
  background-color: whitesmoke;
}
#home #stats {
  color: whitesmoke;
  margin-top: 50px;
  padding: 50px 20px;
  text-align: center;
  font-family: Oswald, sans-serif;
  background: url('../../img/backgrounds/equalizer.png') no-repeat 0 -220px;
}
#home #stats h2 {
  display: inline;
  border-top: solid 2px whitesmoke;
  border-bottom: solid 2px whitesmoke;
}
#home #stats .circliful {
  max-width: 350px;
  margin-top: 20px;
  margin-bottom: 28px;
}
#home #stats .legend-line div {
  background-color: #121212;
  max-width: 350px;
  padding: 15px;
  margin: auto;
  border-top: solid 1px whitesmoke;
  text-transform: uppercase;
}
#band h3.ribbon,
#band h3.half-ribbon {
  margin-top: 20px;
}
#band h3.ribbon {
  left: -40px;
}
#band .content .logo {
  display: block;
  margin: auto;
  padding: 20px 0;
}
#band #controls-options a {
  display: block;
  padding: 15px;
}
#band #profile .flag {
  vertical-align: initial;
  margin-right: 5px;
}
#band #line-up h3,
#band #former-members h3 {
  color: gray;
  background-color: #0C0C0C;
  width: 300px;
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
  font: 30px 'Metal Mania', cursive;
}
#band #line-up h3::before,
#band #former-members h3::before,
#band #line-up h3::after,
#band #former-members h3::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  bottom: -40px;
  z-index: -10;
  border: 20px solid;
  border-color: black transparent transparent transparent;
}
#band #line-up h3::before,
#band #former-members h3::before {
  left: 0;
}
#band #line-up h3::after,
#band #former-members h3::after {
  right: 0;
}
#band #line-up li,
#band #former-members li {
  background-color: #181818;
  padding: 7px;
  margin: 10px 0;
  border-bottom: solid 1px #181818;
  transition: border-color 0.3s ease;
}
#band #line-up li:hover,
#band #former-members li:hover {
  cursor: pointer;
}
#band #line-up li p,
#band #former-members li p {
  margin: 0;
}
#band #line-up li a:hover,
#band #former-members li a:hover {
  color: whitesmoke;
}
#band #line-up li .artist-comment,
#band #former-members li .artist-comment {
  font-size: 14px;
  color: gray;
}
#band #line-up li .artist-comment a,
#band #former-members li .artist-comment a {
  color: silver;
}
#band #line-up .controls {
  top: 55px;
  left: 230px;
}
#band #line-up h3 {
  left: -40px;
  padding-left: 30px;
}
#band #line-up li:hover {
  border-color: #F4BF31;
}
#band #line-up li p:first-child {
  color: #F4BF31;
}
#band #line-up li p a:hover {
  color: #F4BF31;
}
#band #former-members .controls {
  top: 55px;
  left: 12px;
}
#band #former-members h3 {
  justify-content: flex-end;
  padding-right: 30px;
}
#band #former-members li:hover {
  border-color: #BA2525;
}
#band #former-members li p:first-child {
  color: #BA2525;
}
#band #former-members li p a:hover {
  color: #BA2525;
}
#band #biography p {
  font-family: Abel, sans-serif;
}
#band #biography p:first-of-type {
  margin-top: 15px;
}
#band #discography h4 {
  color: #F4BF31;
  font-size: 18px;
}
#band #discography ul#release-menu {
  text-align: center;
}
#band #discography ul#release-menu li {
  display: inline-block;
  margin-right: 15px;
  transition: border-color 0.3s ease;
}
#band #discography ul#release-menu li:hover {
  cursor: pointer;
  color: gray;
  border-color: gray;
}
#band #discography ul#release-menu .current-type {
  color: #F4BF31;
  border-color: #F4BF31;
}
#band #discography .grade {
  line-height: 70px;
}
#band #discography .indicators {
  color: gray;
  text-align: center;
}
#band #discography .not-found {
  color: gray;
  margin-top: 20px;
  text-align: center;
}
#band #videos .owl-carousel {
  margin-top: 10px;
}
#band-galleries img {
  width: 100%;
}
#band-galleries figcaption {
  text-align: center;
}
#album .content {
  padding-top: 20px;
}
#album .content #lyrics-btn {
  margin-bottom: 20px;
}
#album .content #lyrics-btn i {
  margin-right: 10px;
}
#album .content a#main-grade {
  display: block;
  font-size: x-large;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  color: #F4BF31;
  background-color: #121212;
  border: solid 1px #F4BF31;
  border-radius: 5px;
  transition: background-color 0.5s ease;
}
#album .content a#main-grade:hover {
  color: #121212;
  background-color: #F4BF31;
  border: solid 1px #121212;
}
#album .content figure.albumBy {
  margin: 20px 0;
  text-align: center;
}
#album .content figure.albumBy figcaption {
  text-transform: uppercase;
}
#album .content #tracklist {
  padding: 20px;
  margin-top: 20px;
  background-color: #181818;
}
#album .content #tracklist .track {
  display: flex;
  justify-content: space-between;
}
#album .content #tracklist .track .track-nb {
  color: #F4BF31;
}
#album .content #tracklist .tracklist-comment {
  color: gray;
  margin: 20px 0;
}
#album .content #tracklist .duration {
  color: #F4BF31;
  text-align: right;
}
#album .content #lineup {
  padding: 20px;
  background-color: #0C0C0C;
}
#album .content #lineup h4 {
  color: #F4BF31;
  text-align: center;
  text-transform: uppercase;
}
#album .content #lineup li {
  display: flex;
  justify-content: space-between;
}
#album .content #lineup li .instruments {
  color: gray;
}
#album .content .review-info {
  color: gray;
  margin: 0;
  font-size: x-large;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
#album .content .review-info .review-avatar img {
  height: 100px;
}
#album .content .review-info .review-grade {
  color: #F4BF31;
  text-align: center;
}
#album .content .review-info .review-grade a {
  color: #F4BF31;
  display: block;
  border: solid 2px #F4BF31;
  border-radius: 5px;
  margin-top: 10px;
}
#album .content .review-info .review-grade a:hover {
  color: #BA2525;
  border-color: #BA2525;
}
#album .content .review-content {
  line-height: 25px;
  font-weight: 300;
  font-family: Abel, sans-serif;
  padding-top: 20px;
  border-top: solid 5px #181818;
}
#album .content .review-content .review-quote {
  color: gray;
  margin: 15px 0 30px 0;
  font-size: x-large;
  text-align: center;
}
#album .content .review-content .review-quote i {
  color: #F4BF31;
}
#album .content .review-options a {
  display: block;
}
