@media screen and (max-width: 1200px) {
  #reviews h2 {
    margin: 50px 0;
  }
}
@media screen and (max-width: 992px) {
  .xlarge-box {
    width: 590px;
  }
  .xlarge-box h2,
  .xlarge-box h3 {
    width: 630px;
  }
  .small-box {
    width: 590px;
  }
  .small-box h2,
  .small-box h3 {
    width: 630px;
  }
  #webzine #reviews .more {
    margin-bottom: 50px;
  }
  #encyclopedia aside {
    margin-top: 50px;
  }
  #album .cover {
    display: block;
    margin: auto;
    width: 300px;
  }
  footer #brand,
  footer #social {
    text-align: center;
  }
  footer #social {
    padding-bottom: 20px;
  }
}
